
body {
	background-image: url("../img/sddefault.jpg");
	background-repeat: no-repeat;
}

h1 {
	color: yellow;
	text-align: left;
}

div {
	color: white;
}

.high {
	color: red;
}

.low {
	color: blue;
}
